/*TENER EN CUENTA QUE ALGUNOS DE ESTILOS PUEDEN LLAMARSE A CLASES QUE HAYAIS PUESTO*/

html,
body {
  margin: 0px;
  padding: 0px;
}

.logo {
  position: absolute;
    top: 80%;  
    left: 50%;  
    transform: translate(-50%, -50%);
    width: 120px;
    z-index: 1;
}

/*iconos*/
.iconos {
  width: 40px;
  border-radius: 5px;
}
.navbar{
  background-color: #8645ff;
  color: rgb(255, 255, 255);
  margin-bottom: 0% !important;
}
.nav-link,.nav-link:hover,.nav-link:visited{
  color: rgb(255, 255, 255);

}
.navbar{
  margin-bottom: 0 !important;
}
.iconosDerecha{
  position: absolute;
  right: 0;
  display: flex;
  margin-top: -5;
  filter: invert(1);
  margin-right: 5px;
}


footer {
  
  bottom: 0;
  width: 100%;
  background-color: #8645ff;
  color: rgb(255, 255, 255);
  text-align: center;
}

header {
  padding-bottom: 0px;
}

/* Boton dropdown de la izquierda */
.dropbtn {
  background-color: #b8b8ff;
  color: black;
  padding: 5px;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.dropbtn img {
  width: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f7ff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links dentro del dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* cambio de colores */
.dropdown-content a:hover {
  background-color: #ffeedd;
}

/* enseñar dropdown en hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* cambios de color del dropdown cuando esta en uso */
.dropdown:hover .dropbtn {
  background-color: #f8f7ff;
}

/*Estilos sobre el footer...*/
footer,
.fondoFooter {
  text-align: center;
  font-size: 20px;
  background-color: #8645ff;
}