/*TENER EN CUENTA QUE ALGUNOS DE ESTILOS PUEDEN LLAMARSE A CLASES QUE HAYAIS PUESTO*/
html,
body {
    margin: 0px;
    padding: 0px;
}

/*Cosas del logo del medio*/
.logo {
    position: relative;
    width: 175px;
    top: 100px;
}

/*iconos*/
.lupa {
    width: 20px;
}

.iconos {
    width: 40px;
    border-radius: 5px;
}

.navbar-brand {
    justify-content: center;
    display: flex;
    margin-top: -125px !important;
}

/*ajustes generales*/
.barra,
footer {
    padding: 10px;
    padding-top: 15px;
    /*NOTA: voy a poner esto un pelín mas oscuro por ahora, decidme a que color lo cambio o cambio el logo */
    background-color: #8645ff;
}

header {
    padding-bottom: 0px;
}

/* Boton dropdown de la izquierda */
.dropbtn {
    background-color: #b8b8ff;
    color: black;
    padding: 5px;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.dropbtn img {
    width: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f7ff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links dentro del dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* cambio de colores */
.dropdown-content a:hover {
    background-color: #ffeedd;
}

/* enseñar dropdown en hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* cambios de color del dropdown cuando esta en uso */
.dropdown:hover .dropbtn {
    background-color: #f8f7ff;
}

footer {
    text-align: center;
    font-size: 15px;
}

/* CONTENIDO ARTICULO */

.sproduct{
    padding: 5cm;
    
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 32%;
    cursor: pointer;
}

.sproduct input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.sproduct input:focus {
    outline: none;
}

.buy-btn{
    background: #fb774b;
    opacity: 1;
    transition: 0.3s all;
    border-radius: 5px;
    color: white;
    height: 45px;
    width: 4cm;
    border: 1px solid black;
}

select.my-3{
    width: 5cm;
    height: 1cm;
    border-radius: 5px;
}

.col-lg-6.col-md-12.col-12 input{
    width: 3cm;
}

body{
    font-family: Helvetica;
    background-color: #f8f7ff;
}
.img_peque{
    width: 10%;
  height: 10%;
}
